
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header {
  height: 50px;
  background-color: #ccc;
  position: relative;
}
.logo img {
  vertical-align: middle;
  margin-left: 10px;
  display: block;
}
.logo {
  width: 60px;
  height: 40px;
}
.logo a {
  width: 60px;
  height: 40px;
}
.menu_btn {
  width: 40px;
  height: 40px;
  background-color: black;
  display: block;
  position: absolute;
  right: 10px;
  top: 5px;
}
#menu_control {
  position: absolute;
  z-index: 0;
  opacity: 0; /*永遠消失*/
}
.menu_bnt span {
  opacity: 0; /*不透明把文字選單藏起來*/
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.menu_btn::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 36px;
  left: 2px;
  background-color: #aaa;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 8px #aaa, 0 -8px #aaa;
  /*製作上下兩個一模一樣東西用陰影做，x軸偏移 ,y軸偏移,顏色*/
}
nav {
  width: 80%;
  height: calc(100vh - 50px);
  background-color: black;
  position: absolute;
  left: -100%;
  top: 50px;
  transition: 0.5s; /*延緩出來秒數*/
}
nav a {
  display: block;
  text-decoration: none;
  color: #a6e22c;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}
#menu_control:checked ~ .header nav {
  left: 0;
}
@media screen and (min-width: 768px) {
  /*寬度在768以上的畫面*/
  .menu_btn {
    display: none;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    /* vertical-align: middle; */
    margin-left: 10px;
    display: block;
  }
  nav {
    display: flex;
    left: 0;
    position: relative;
    height: auto;
    width: auto;
    top: 0;
    background-color: transparent; /*背景透明*/
  }
  nav a {
    border-bottom: none;
    color: black;
  }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    /* vertical-align: middle; */
    margin-left: 10px;
    display: block;
  }
  nav {
    display: flex;
    left: 0;
    position: relative;
    height: auto;
    width: auto;
    top: 0;
    background-color: transparent; /*背景透明*/
  }
  nav a {
    border-bottom: none;
    color: black;
  }
}
.banner img {
  width: 100%;
}
.item-group {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}
.title {
  margin: 0 0 20px;
  background: #ccc;
  padding: 30px 10px;
}
.title p {
  text-align: center;
}
.item {
  margin: 0 10px 40px;
}
.item .pic img {
  width: 100%;
}
.text h3 {
  padding: 20px;
}
.text p {
  padding: 10px;
}
.title h2 {
  text-align: center;
  font-size: 46px;
}
.title p {
  font-size: 22px;
}
.footer {
  background: #333;
  color: #aaa;
  text-align: center;
  padding: 10px 0;
}
.item .text h3 {
  text-align: center;
  font-size: 24px;
}

/* .item-group {
  display: flex;
} */

@media screen and (min-width: 768px) {
  .item-group {
    display: flex;
  }

  .service .item {
    /*他這邊沒有變*/
    display: flex;
  }
  .service .item .pic,
  .service .item .text {
    width: 50%;
  }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    /* vertical-align: middle; */
    margin-left: 10px;
    display: block;
  }
  nav {
    display: flex;
    left: 0;
    position: relative;
    height: auto;
    width: auto;
    top: 0;
    background-color: transparent; /*背景透明*/
  }
  nav a {
    border-bottom: none;
    color: black;
  }
}
.banner img {
  width: 100%;
}
.item-group {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}
.title {
  margin: 0 0 20px;
  background: #ccc;
  padding: 30px 10px;
}
.title p {
  text-align: center;
}
.item {
  margin: 0 10px 40px;
}
.item .pic img {
  width: 100%;
}
.text h3 {
  padding: 20px;
}
.text p {
  padding: 10px;
}
.title h2 {
  text-align: center;
  font-size: 46px;
}
.title p {
  font-size: 22px;
}
.footer {
  background: #333;
  color: #aaa;
  text-align: center;
  padding: 10px 0;
}
.item .text h3 {
  text-align: center;
  font-size: 24px;
}

/* .item-group {
  display: flex;
} */

@media screen and (min-width: 768px) {
  .item-group {
    display: flex;
  }

  .service .item {
    /*他這邊沒有變*/
    display: flex;
  }
  .service .item .pic,
  .service .item .text {
    width: 50%;
  }
}